body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #d8d4d4;
    color: rgb(54 48 55);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4a8052;
}

a:hover {
    color: rgb(54 48 55);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(42, 50, 42);
    transition: .3s;
}

.nav-link:hover {
    color: rgb(97, 126, 93);
}

.my-photo {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 1em;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

@media (max-width: 1440px) {
    .container {
        padding: 0 20px;
    }
}

.section-item {
    position: relative;
    padding-left: 30px;
    list-style: none;
}

.section-item:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #4a8052;
    border-radius: 50%;
}

.contact-item:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 1px;
    right: 1px;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0%;
}

.contact-item:nth-child(1):before {
    background-image: url(assets/phone-call.svg);

}

.contact-item:nth-child(2)::before {
    background-image: url(assets/loc.svg);
}

.contact-item:nth-child(3)::before {
    background-image: url(assets/email.svg);
}

.contact-item:nth-child(4)::before {
    background-image: url(assets/github.svg);
}

.contact-item:nth-child(5)::before {
    background-image: url(assets/discord.svg);
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    border-bottom: 1px solid rgb(54 48 55);
}

.profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 45px;
    border-bottom: 1px solid rgb(54 48 55);
}

.who {
    text-transform: uppercase;
}

.lang,
.education {
    border-bottom: 0;
}

.footer {
    display: block;
    background-color: #979e98;

}